rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Accès public en lecture pour les références France
    match /externalBenchmarks/{document=**} {
      allow read: if true;
      allow write: if true; // Pour permettre la création de la base de données initialement
    }

    // Permettre l'accès pour l'ID du document utilisateur (deviceId ou Firebase Auth)
    match /users/{deviceId} {
      allow read, write: if true; // Supporte le deviceId anonyme et évolutif vers request.auth.uid == deviceId
      
      match /{document=**} {
        allow read, write: if true;
      }
    }
    // Règles strictes pour le reste
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
